In [3]:
spark

# Creating Spark DataFrames

In [4]:
df=spark.read.json("file:///home/sanjay/SparkTutorial/data/d1.json")
df.show()

+----+------+
| age|  name|
+----+------+
|null|Sanjay|
|  15|   Jay|
|  19|   Raj|
+----+------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.select('name').show()

+------+
|  name|
+------+
|Sanjay|
|   Jay|
|   Raj|
+------+

In [9]:
df.select(df['name'],(df['age']+1).alias('age')).show()

+------+----+
|  name| age|
+------+----+
|Sanjay|null|
|   Jay|  16|
|   Raj|  20|
+------+----+

In [10]:
df.filter(df['age']>18).show()

+---+----+
|age|name|
+---+----+
| 19| Raj|
+---+----+

In [11]:
df.groupBy('age').count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  15|    1|
+----+-----+

# Spark SQL Like Qureies

In [15]:
df.createOrReplaceTempView("people")
spark.sql("select name from people").show()

+------+
|  name|
+------+
|Sanjay|
|   Jay|
|   Raj|
+------+

# Text files to Dataframe

In [28]:
from pyspark.sql import Row
from pyspark.sql.functions import StringType
from pyspark.sql.types import StructField,StructType

In [29]:
lines = sc.textFile("file:///home/sanjay/SparkTutorial/data/d2.txt")
parts = lines.map(lambda x: x.split(","))
df_data = parts.map(lambda p:Row(name=p[0],rate=p[1]))
anims = spark.createDataFrame(df_data)
anims.show()

+----+----+
|name|rate|
+----+----+
| Cat| 100|
| Dog| 200|
| Hen| 150|
+----+----+

# Creating and Applying Schema

In [31]:
SchemaString="name rate"
fields = [StructField(field_name,StringType())for field_name in SchemaString.split()]
schema = StructType(fields)
df_with_schema = spark.createDataFrame(df_data,schema)
df_with_schema.show()

+----+----+
|name|rate|
+----+----+
| Cat| 100|
| Dog| 200|
| Hen| 150|
+----+----+